<!DOCTYPE html>

<html>

    <head th:replace="/fragments/head :: head"></head>

    <body>

        <div class="editForm">

            <header th:replace="/fragments/header :: header"></header>
            <nav th:replace="fragments/navbar :: nav"></nav>

            <section>

                <form action="/admin/save-changes" method="POST" style="width: 100%">
                    <h4>Editar Noticia</h4>
                    <div class="form-group">
                        <input type="text" class="form-control" name="title" placeholder="Título" th:value="${notice.title}"><br>
                        <textarea class="form-control" name="text" placeholder="Texto" maxlength="255" th:text="${notice.noticeText}"></textarea><br> 
                        <input type="checkbox" name="visible" class="form-check-input" th:checked="${notice.visible}"><span> Visible </span><br>
                        <button type="submit" class="btn btn-primary" name="id" th:value="${notice.id}" style="margin: 10px;">SAVE</button>
                        <a class="btn btn-primary" href="/index/">CANCEL</a>
                    </div>               
                </form>

            </section>

        </div>

    </body>
    
</html>
