<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org">
    
    <head th:replace="/fragments/head :: head"></head>
    
    <body>
        
        <header th:replace="/fragments/header :: header"></header>
        <nav th:replace="fragments/navbar :: nav"></nav>
        
        
        <section>
            <article class="card border-warning mb-3"  style="width: 18rem;"
                     th:each="notice : ${notices}"
                     th:value="${notice.id}"
                     th:if="${notice.visible == true}"
                    >
                <span th:text="${notice.noticeDate}" type="text" name="noticeText"></span>
                <h6 th:text="${notice.title}" type="text" name="noticeText"></h6>
                <p th:text="${notice.noticeText}" type="text" name="noticeText"></p>
                <br>            
            </article>            
        </section>       
      
    </body>
</html>
