<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>

    <head th:replace="/fragments/head :: head"></head>
    <nav th:replace="/fragments/navbar :: nav"></nav>

    <body>
        
        <header th:replace="/fragments/header :: header"></header>
        <h1>Ingresar</h1>


        <div th:if="${error != null}" class="alert alert-danger d-flex align-items-center">
            <div class="card-body">
                <h5 class="card-title">Error!</h5>
                <p class="card-text" th:text="${error}"></p>
            </div>
        </div>


        <form th:action="@{/loginCheck}" method="POST">
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input name="password" type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        
    </body>
    
</html>
