<!DOCTYPE html>

<html>

    <head th:replace="/fragments/head :: head"></head>    

    <body>

        <header th:replace="/fragments/header :: header"></header>

        <div class="login">

            <h1>Ingresar</h1>


            <div th:if="${error != null}" class="alert alert-danger d-flex align-items-center">
                <div class="card-body">
                    <h5 class="card-title">Error!</h5>
                    <p class="card-text" th:text="${error}"></p>
                </div>
            </div>

            <div th:if="${succes != null}" class="alert alert-success d-flex align-items-center" role="alert">
                <div class="card-body">
                    <h5 class="card-title">Succes!</h5>
                    <p class="card-text" th:text="${succes}"></p>
                </div>
            </div>


            <form th:action="@{/login-check}" method="POST">
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email address</label>
                    <input name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input name="password" type="password" class="form-control" id="exampleInputPassword1">
                </div>
                <button type="submit" class="btn btn-primary">Log In</button>
                <a class="btn btn-primary" href="/sign-up" sec:authorize="isAnonymous()">Sign Up</a>
            </form>

        </div>

    </body>

</html>
