<!DOCTYPE html>

<html>

    <head th:replace="/fragments/head :: head"></head>
    <body>
        <div class="noticeForm">

            <header th:replace="/fragments/header :: header"></header>
            <nav th:replace="fragments/navbar :: nav"></nav>

            <section>
                <span>Crear una nueva noticia</span>
                <form action="/admin/add-notice" method="POST" style="width: 100%">

                    <input type="text" class="form-control" name="title" placeholder="Título" ><br>
                    <textarea class="form-control" name="text" placeholder="Texto" maxlength="555"></textarea><br> 
                    <input type="checkbox" name="visible" class="form-check-input"><span> Visible </span><br> 
                    <button type="submit" class="btn btn-primary" style="margin: 10px;">Publicar</button> 
             
                </form>
            </section>

        </div>

    </body>

</html>
