<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
<section>
    <span>Crear una nueva noticia</span>
    <form action="/admin/addNotice" method="POST">
        <div class="mb-3">
            <input type="text" class="form-control" name="title" placeholder="Título"><br>
            <textarea class="form-control" name="text" placeholder="Texto" maxlength="255"></textarea><br> 
            <input type="checkbox" name="visible" class="form-check-input"><span> Visible </span><br> 
            <button type="submit" class="btn btn-primary">Publicar</button>                   
        </div>               
    </form>
</section>
</html>
