<!DOCTYPE html>

<html>

    <head th:replace="/fragments/head :: head"></head>

    <body>
        <h1>Registrar Usuario</h1>

        <form th:action="@{/register}" method="POST">
            <label for="name">name:</label>
            <input type="text" id="name" name="userName" th:value="${userName}"><br><br>
            <label for="email">email:</label>
            <input type="text" id="email" name="email" th:value="${email}"><br><br>
            <label for="password">password:</label>
            <input type="text" id="password" name="password" th:value="${password}"><br><br>
            <label for="passwordVerification">password:</label>
            <input type="text" id="passwordVerification" name="passwordVerification" th:value="${passwordVerification}"><br><br>
            <input type="submit">
        </form>

        <div th:if="${error != null}" class="card text-white bg-danger mb-3 mensajeError" >
            <div class="card-body">
                <h5 class="card-title">Error!</h5>
                <p class="card-text" th:text="${error}"></p>
            </div>
        </div>

        <div th:if="${succes != null}" class="card text-white bg-success mb-3 mt-3 mensajeExito" >
            <div class="card-body">
                <h5 class="card-title">Exito!</h5>
                <p class="card-text" th:text="${succes}"></p>
            </div>
        </div>

    </body>
</html>
