<section>
    <article class="card border-warning mb-3"  style="width: 18rem;"
             th:each="notice : ${notices}"
             th:value="${notice.id}"
             th:if="${notice.visible == true or #authorization.expression('hasRole(''ROLE_ADMIN'')')}"
             >
        <span th:text="${notice.noticeDate}" type="text" name="noticeText"></span>
        <h6 th:text="${notice.title}" type="text" name="noticeText"></h6>
        <p th:text="${notice.noticeText}" type="text" name="noticeText"></p>
        <br>
        <div th:replace="/fragments/noticecontrol::div" sec:authorize="hasRole('ROLE_ADMIN')"></div>        
    </article>            
</section>   
