<section id="noticeSection">
    <article class="card border-warning mb-3"  style="width: 18rem;"
             th:each="notice : ${notices}"
             th:value="${notice.id}"                         
             >
        <span th:text="${notice.noticeDate}" type="text" name="noticeText"></span>
        <h6 th:text="${notice.title}" type="text" name="noticeText"></h6>
        <p th:text="${notice.noticeText}" type="text" name="noticeText"></p>
        <br>
        <div id="noticeBtn">
            <p readonline class="form-group" th:text="${notice.id}"></p>
            <form action="/admin/editNotice">                            
                <button type="submit" class="btn btn-info" name="id" th:value="${notice.id}">EDIT</button>               
            </form>
            <form action="/admin/deleteNotice">
                <button type="submit" class="btn btn-danger" name="id" th:value="${notice.id}">DELETE</button>                            
            </form>                                               
        </div>
    </article>
</section>